.inputContainer {
    align-self: flex-start;
    display: flex;
    height: auto;
    padding: 10px 0;
    flex-direction: column;    
}

.label {
    padding: 5px 0;
}

.input {
    display: block;
}