:root {
    --blue: rgba(0, 0, 255, 0.96)
}

.doneForm {
    width: 50vw;
    height: auto;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    border: solid black 1px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.311);
}

.title {
    color: var(--blue);
}

.secondPartOfForm {
    width: 62%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
}

.block {
    width: 100%;
    min-height: 40px;
    max-height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.itemTitle {
    color: var(--blue)
}

.textInBox {
    word-break: break-all;
}